nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
    div.sidebar-sticky.pt-3
        ul.nav.flex-column
            li.nav-item
                a.nav-link(href='/tool/script1' class=(current === '/tool/script1' ? 'active' : null))
                    include ../icons/deploy
                    | Azure Live Logs 
            li.nav-item
                a.nav-link(href='/tool/script2' class=(current === '/tool/script2' ? 'active' : null))
                    include ../icons/destroy
                    | Azure Stored Logs
            li.nav-item
                a.nav-link(href='/site/readme' class=(current === '/site/readme' ? 'active' : null))
                    | Readme
            li.nav-item
                a.nav-link(href='/site/about' class=(current === '/site/about' ? 'active' : null))
                    | About
